h4{
	margin-bottom: 50px;
	font-family: Balsamiq Sans;
}
div.box{
	
	background-color: #808080;
	margin:10px ;
	align: center;
}

section{
	font-family: Balsamiq Sans;
	}
navbar{
		border: 2px solid black;
	}
h1{
	margin-bottom: 20px;
	font-family: Balsamiq Sans;
	text-align: center;
}
.navbar .navbar-nav > li .navbar-item ,
.navbar .navbar-brand{
                       color: black;
                      }
.navbar-dark .navbar-nav .nav-link {
    color: black;
}